.container{
    color: #fff;
    
    .wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .oklick_1{
        padding-top: 20px;
        padding: 80px 80px;
        .img_1{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }
}

