.our_container_services{
    background-image: url(../images/Text_Container.webp);
    background-position: center;
    display: flex;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
    min-height: 366px;

    .services_container{
        padding-top: 120px;
    }
    h1{
        color: #fff;
        font-size: 48px;
    }
    p{
      color: #fff;  
      font-size: 18px;
    }
}