:root{

  /**  Отступы  */
  --gap-xl: 20px;
  --gap-l: 15px;

  --padding-block: 20px;
  --padding-inline: 20px;

  /**  Скругления углов  */
  --border-radius-default: 20px;
  --border-radius-button: 8px;
  --border-radius-button2: 100px;

  /**  Основные цвета */
  --main-color: #9EFF00;
  --background-color:#262626;
  --grey-90: #E6E6E6;
  --background-color-header: #1A1A1A;


  /**  Шрифты */
  --font-family-title: "Open Sans";
}