<section class="hero">
    <div class="container_hero">
        <h1>
            A Digital Product Studio 
        </h1>
        <h1>
            that will Work
        </h1>
        <h2>
            <nav class="nav">
            <ul>
                <li>For</li>
                <li><button class="hero_button">startups</button></li>
                <li>,</li>
                <li><button class="hero_button">Enterprise leaders</button></li>
                <li>,</li>
                <li><button class="hero_button">Media & Publishers</button></li>
                <li>,</li>
                <li><button class="hero_button">Social Good </button></li>
            </ul>
        </nav>
        </h2>
        <nav class="nav_buttons">
            <button class="button_OurWorks">
                Our Works
            </button>
             @@include('./_button.html', {
"href": "#",
"title": "Contact Us",
})
        </nav>
        <div class="hero_by250">
            <button class="button_by250">Trusted By 250+ Companies</button>
        </div>
    </div>
</section>